<article>
  
    <figure>
        <img src="./img/img1.png" alt="Flying Cars">
        <figcaption>The Value of Money</figcaption>
    </figure>
    <p>By 2100, food scarcity has been eliminated through revolutionary advancements in agriculture. Vertical farms, integrated into towering city structures, use minimal space and resources to produce abundant, nutritious food. Synthetic biology and nanotechnology have transformed food production, ensuring that everyone has access to fresh and healthy meals. By 2100, food scarcity has been eliminated through revolutionary advancements in agriculture. Vertical farms, integrated into towering city structures, use minimal space and resources to produce abundant, nutritious food. Synthetic biology and nanotechnology have transformed food production, ensuring that everyone has access to fresh and healthy meals.</p>

    <p></p>
</article>

<article>
  
    <figure>
        <img src="./img/img2.png" alt="Sustainable Food">
        <figcaption>GMO food</figcaption>
    </figure>
    <p>By 2100, food scarcity has been eliminated through revolutionary advancements in agriculture. Vertical farms, integrated into towering city structures, use minimal space and resources to produce abundant, nutritious food. Synthetic biology and nanotechnology have transformed food production, ensuring that everyone has access to fresh and healthy meals.By 2100, food scarcity has been eliminated through revolutionary advancements in agriculture. Vertical farms, integrated into towering city structures, use minimal space and resources to produce abundant, nutritious food. Synthetic biology and nanotechnology have transformed food production, ensuring that everyone has access to fresh and healthy meals.</p>
</article>

<article>
    
    <figure>
        <img src="./img/img3.png" alt="Advanced Robots">
        <figcaption>The View of World in 2100</figcaption>
    </figure>
    <p>Robots have become essential partners in daily life, working seamlessly with humans. Equipped with advanced AI, these robots provide support and companionship, handling tasks ranging from household chores to complex operations. Their integration into society enhances productivity and quality of life, making them indispensable in the year 2100.By 2100, food scarcity has been eliminated through revolutionary advancements in agriculture. Vertical farms, integrated into towering city structures, use minimal space and resources to produce abundant, nutritious food. Synthetic biology and nanotechnology have transformed food production, ensuring that everyone has access to fresh and healthy meals.</p>
</article>
