
        <article class="dynamic-content">
            <div class="card-container">
                <article class="card">
                    <figure>
                        <img src="./img/card1.jpg" alt="Flying Cars">
                        <figcaption>Flecon</figcaption>
                    </figure>
                </article>

                <article class="card">
                    <figure>
                        <img src="./img/card2.jpg" alt="Sustainable Food">
                        <figcaption>Eden</figcaption>
                    </figure>
                </article>

                <article class="card">
                    <figure>
                        <img src="./img/card3.jpg" alt="Advanced Robots">
                        <figcaption>Robolis</figcaption>
                    </figure>
                </article>

                <article class="card">
                    <figure>
                        <img src="./img/card4.jpg" alt="Virtual Reality">
                        <figcaption>kraken</figcaption>
                    </figure>
                </article>

                <article class="card">
                    <figure>
                        <img src="./img/card5.jpg" alt="Space Colonization">
                        <figcaption>melton</figcaption>
                    </figure>
                </article>

                <article class="card">
                    <figure>
                        <img src="./img/card6.jpg" alt="Tech Innovation">
                        <figcaption>Teconoali</figcaption>
                    </figure>
                </article>
            